@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

@model Project.AVIew.OtherAPI.Model.Tomorrow.Timelines;



<div class="container marketing padding-boreder">
    <div class="row">

        <div class="col-lg-12">
            <h3 class="mb-3 ">
                Сравнение температур 
            </h3>
        </div>
    </div>
    <div class="row w3-example">

        <div class="col-lg-12">
            <h3 class="mb-3 ">Сервис Tomorrow</h3>
            <div class="container">
                <div class="row">
                    @if (Model != null)
                    {
                        foreach (var Interval in @ViewBag.TomorrowWeather.Intervals)
                        {
                            <div class="col" style="background-color: #f6faff; margin: 0 5px 0 5px; ">
                                <br />
                                <p class="text-center">@Interval.StartTime.ToString("HH:mm")</p>
                                @switch (@Interval.Values.WeatherCode)
                                {
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/48b265b-weather_icon_small_ic_clear3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1100:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/c3d2596-weather_icon_small_ic_mostly_clear3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1101:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/5ef9011-weather_icon_small_ic_partly_cloudy3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1102:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/6beaa54-weather_icon_small_ic_mostly_cloudy3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/4042728-weather_icon_small_ic_cloudy3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)2000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/8d37852-weather_icon_small_ic_fog3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)2100:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/76580b9-weather_icon_small_ic_fog_light3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/f22e925-weather_icon_small_ic_rain_drizzle3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/aab8713-weather_icon_small_ic_rain3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4200:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/ea98852-weather_icon_small_ic_rain_light3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4201:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/fdacbb8-weather_icon_small_ic_rain_heavy3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/731a898-weather_icon_small_ic_snow3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/1174193-weather_icon_small_ic_flurries3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5100:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/c736bc9-weather_icon_small_ic_snow_light3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5101:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/20c73b9-weather_icon_small_ic_snow_heavy3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/43b5585-weather_icon_small_ic_freezing_rain_drizzle3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/321062d-weather_icon_small_ic_freezing_rain3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6200:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/9d1a4dc-weather_icon_small_ic_freezing_rain_light3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6201:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/2f614b7-weather_icon_small_ic_freezing_rain_heavy3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)7000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/314349c-weather_icon_small_ic_ice_pellets3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)7101:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/d5707d4-weather_icon_small_ic_ice_pellets_heavy3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)7102:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/8cde587-weather_icon_small_ic_ice_pellets_light3x.png" alt=""> break;
                                    case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)8000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/39fb806-weather_icon_small_ic_tstorm3x.png" alt="">break;
                                    default: break;
                                }

                                <p class="text-center">@Interval.Values.Temperature °C</p>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="col-lg-12">
                <h3 class="mb-3 ">Сервис OpenWeather</h3>
                <div class="container">
                    <div class="row">
                        @if (Model != null)
                        {
                            foreach (var Interval in @ViewBag.TomorrowWeather.Intervals)
                            {
                                <div class="col" style="background-color: #f6faff; margin: 0 5px 0 5px; ">
                                    <br />
                                    <p class="text-center">@Interval.StartTime.ToString("HH:mm")</p>
                                    @switch (@Interval.Values.WeatherCode)
                                    {
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/48b265b-weather_icon_small_ic_clear3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1100:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/c3d2596-weather_icon_small_ic_mostly_clear3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1101:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/5ef9011-weather_icon_small_ic_partly_cloudy3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1102:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/6beaa54-weather_icon_small_ic_mostly_cloudy3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)1001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/4042728-weather_icon_small_ic_cloudy3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)2000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/8d37852-weather_icon_small_ic_fog3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)2100:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/76580b9-weather_icon_small_ic_fog_light3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/f22e925-weather_icon_small_ic_rain_drizzle3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/aab8713-weather_icon_small_ic_rain3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4200:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/ea98852-weather_icon_small_ic_rain_light3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)4201:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/fdacbb8-weather_icon_small_ic_rain_heavy3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/731a898-weather_icon_small_ic_snow3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/1174193-weather_icon_small_ic_flurries3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5100:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/c736bc9-weather_icon_small_ic_snow_light3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)5101:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/20c73b9-weather_icon_small_ic_snow_heavy3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/43b5585-weather_icon_small_ic_freezing_rain_drizzle3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6001:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/321062d-weather_icon_small_ic_freezing_rain3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6200:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/9d1a4dc-weather_icon_small_ic_freezing_rain_light3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)6201:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/2f614b7-weather_icon_small_ic_freezing_rain_heavy3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)7000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/314349c-weather_icon_small_ic_ice_pellets3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)7101:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/d5707d4-weather_icon_small_ic_ice_pellets_heavy3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)7102:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/8cde587-weather_icon_small_ic_ice_pellets_light3x.png" alt=""> break;
                                        case (Project.AVIew.OtherAPI.Model.Tomorrow.WeatherCodes)8000:<img class="mb-4 rounded mx-auto d-block weatherCodesIMG " src="https://files.readme.io/39fb806-weather_icon_small_ic_tstorm3x.png" alt="">break;
                                        default: break;
                                    }

                                    <p class="text-center">@Interval.Values.Temperature °C</p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <br />
        </div>
   
   
</div>